{% load static %}
{% load i18n %}
<!--
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.0-alpha.2
 * @link http://coreui.io
 * Copyright (c) 2016 creativeLabs Łukasz Holeczek
 * @license MIT
 -->
<!DOCTYPE html>
<html lang="en"dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="تنباما">
    <meta name="author" content="hamid saydy">
    <meta name="keyword" content="تنباما">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <title>ورود</title>
    <!-- Icons -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/simple-line-icons.css" %}" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-x-auto pull-xs-none vamiddle">
                <div class="card-group ">
                    <div class="card p-a-2">
                        <div class="card-block">
                            <form method="post" action=".">
                                <h1>ورود</h1>
                                <p class="text-muted">وارد حساب کاربری خود شوید</p>
                                {% if form.errors %}
                                    {% include "users/partials/errors.html" %}
                                {% endif %}
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="input-group m-b-1">
                                    {% include "users/partials/field.html" %}
                                </div>
                                {% endfor %}

                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="submit" value="{% trans 'Log in' %}" class="btn btn-primary p-x-2">
                                            <i class="icon-login"></i>
                                            ورود</button>
                                    </div>
                                    <input type="hidden" name="next" value="{{ next }}" />

                                    <div class="col-xs-6 text-xs-right">
                                        <button onclick="location.href = '/accounts/password_reset/';" type="button" class="btn btn-link p-x-0">فراموشی رمز ورود</button>
                                    </div>
                            </form>        
                            </div>
                        </div>
                    </div>
                    <div class="card card-inverse card-primary p-y-3" style="width:auto">
                        <div class="card-block text-xs-center">
                            <div>
                                <h2>ثبت نام</h2>
                                <p>اگر در سامانه عضو نیستید به راحتی می توانید همین الان نام نویسی کنید.</p>
                                <button onclick="location.href = '/accounts/register/';" type="button" class="btn btn-primary active m-t-1">عضویت رایگان</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Bootstrap and necessary plugins -->
    <script src="{% static "js/libs/jquery.min.js" %}"></script>
    <script src="{% static "js/libs/tether.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap.min.js" %}"></script>
    <script>
        function verticalAlignMiddle()
        {
            var bodyHeight = $(window).height();
            var formHeight = $('.vamiddle').height();
            var marginTop = (bodyHeight / 2) - (formHeight / 2);
            if (marginTop > 0)
            {
                $('.vamiddle').css('margin-top', marginTop);
            }
        }
        $(document).ready(function()
        {
            verticalAlignMiddle();
        });
        $(window).bind('resize', verticalAlignMiddle);
    </script>
    <!-- Grunt watch plugin -->
    <script src="//localhost:35729/livereload.js"></script>
</body>

</html>
