{% load static %}
<!--
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.0-alpha.2
 * @link http://coreui.io
 * Copyright (c) 2016 creativeLabs Łukasz Holeczek
 * @license MIT
 -->
<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tanbama">
    <meta name="author" content="hamid saydy">
    <meta name="keyword" content="تنباما">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <title>ثبت نام</title>
    <!-- Icons -->
    <!-- Icons -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/simple-line-icons.css" %}" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body class="">
    <div class="container">
        <div class="row">
            <div class="col-md-5 m-x-auto pull-xs-none vamiddle">
                <div class="card">
                    <div class="card-block p-a-2">
                        <h1>عضویت</h1>
                        <form method="post" action="." enctype="multipart/form-data">
                            <p class="text-muted">حساب کاربری خود را بسازید!</p>
                            
                            {% if form.errors %}
                                {% include "users/partials/errors.html" %}
                            {% endif %}
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="input-group m-b-1">
                                {% include "users/partials/field.html" %}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-block btn-success">
                                <i class="icon-user-follow"></i>
                                نام نویسی</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="{% static "js/libs/jquery.min.js" %}"></script>
    <script src="{% static "js/libs/tether.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap.min.js" %}"></script>
    <script>
        function verticalAlignMiddle()
        {
            var bodyHeight = $(window).height();
            var formHeight = $('.vamiddle').height();
            var marginTop = (bodyHeight / 2) - (formHeight / 2);
            if (marginTop > 0)
            {
                $('.vamiddle').css('margin-top', marginTop);
            }
        }
        $(document).ready(function()
        {
            verticalAlignMiddle();
        });
        $(window).bind('resize', verticalAlignMiddle);
    </script>
    <!-- Grunt watch plugin -->
    <script src="//localhost:35729/livereload.js"></script>
</body>

</html>