{% extends "sites/base_site.html" %}


{% block title %}

        ویرایش پروفایل 
    
{% endblock title %}


{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% if  object_list %}
{% block location %}

        ویرایش پروفایل 

{% endblock location %}
{% endif %}

{% block content %}

<div class="row">
    <div class="col-md-4 offset-sm-4">
        <div class="card">
            <div class="card-header">
                ویرایش <strong>پروفایل</strong>

            </div>
            <div class="card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">{% csrf_token %}
                    {% if form.errors %}
                                    {% include "users/partials/errors.html" %}
                                {% endif %}
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="input-group m-b-1">
                                    {% include "users/partials/field.html" %}
                                </div>
                                {% endfor %}
                    
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                    {% if  object_list %} 
                        ویرایش 
                    {% else %}
                        افزودن
                    {% endif %} 
                </button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> بازنشانی</button>
            </div>
        </div>
    </div>
</div>

<!-- /.conainer-fluid -->
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}      