{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} لیست کاربران {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
لیست کاربران
{% endblock location %}

{% block content %}


<!--/.container-fluid-->
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> لیست کاربران
                            </div>
                            <div class="card-block">
                                    <p>
                                        <a class="btn btn-outline-primary" href="#" role="button">
                                            <span class="fas fa-plus"></span>
                                            کاربر جدید
                                        </a>
                                    </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام و نام خانوادگی</th>
                                            <th>جنسیت</th>
                                            <th>تاریخ پیوستن</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in object_list %}
                                        {% if user.is_patient is True %}
                                        <tr>
                                        
                                            <td>{{ user.id }}</td>
                                            <td><a href="/profile/{{user.id}}/">{{ user.get_full_name  }}</td>
                                            <td>{{ user.get_gender_display }}</td>
                                            <td>{{ user.date_joined|jformat:"%A %d %B %Y %H:%M"  }}</td>
                                            
                                            
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                        
                                    </tbody>
                                
                                </table>
                                {% if is_paginated %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; قبل</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&laquo; قبل</span></li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo; بعد</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&raquo; بعد</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--/col-->

                
        </div>
        <!-- /.conainer-fluid -->
        {% endblock content %}            
        {% block javascripts %}
        
        {{ block.super }}
        {% endblock javascripts %} 
