{% extends "../../sites/base_site.html" %}
{% load i18n %}
{% load pinax_messages_tags %}
{% block title %} صندوق ورودی {% endblock title %}

​{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block location %}
صندوق ورودی
{% endblock location %}

{% block content %}
<div class="container-fluid">
    <div class="list-group">
    <section class="actions-header">
        <div class="row">
            <h1>صندوق ورودی</h1>
            <div class="col-sm-12">
                <a class="btn btn-success pull-right" href="{% url "pinax_messages:message_create" %}">پیام جدید</a>
            </div>
        </div>
    </section>
​
    <section class="mailbox">
        {% for thread in threads %}
            <div class="thread {% if thread|unread:user %}unread{% endif %}">
                <a class="list-group-item" href="{{thread.get_absolute_url}}" >
                    <div class="row">
                        <span class="col-sm-2 users">{{ thread.users.all|join:", " }}</span>
                        <div class="col-sm-10">
                            <p class="subject">{{ thread.subject }}</p>
                            <p class="content text-muted">{{ thread.latest_message.content }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div>You have no messages.</div>
        {% endfor %}
    </section>
</div>
</div>
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}      