{% extends "../../sites/base_site.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load pinax_messages_tags %}
{% block title %} پیام جدید {% endblock title %}

​{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block location %}
پیام جدید
{% endblock location %}

{% block content %}
<div class="container-fluid">

    <h2>پیام جدید</h2>

    <section>
        <form class="comment-form" action="{% url "pinax_messages:message_create" %}" method="post">
            {% csrf_token %}
            <div class="col-sm-5">
            {% bootstrap_form form %}
            
                    <button class="btn btn-primary pull-right">ارسال</button>
                </form>
                <a class="btn btn-default" href="{% url "pinax_messages:inbox" %}">لغو</a>
            </div>
    </section>
{% endblock %}