{% extends "../../sites/base_site.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load pinax_messages_tags %}
{% block title %} مکالمه {% endblock title %}

​{% block stylesheets %}
{{ block.super }}
<style type="text/css">
    body {
		font-family: 'Varela Round', sans-serif;
	}
	.modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
        text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		min-width: 120px;
        border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
		outline: none !important;
    }
	.modal-confirm .btn-info {
        background: #c1c1c1;
    }
    .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
        background: #a8a8a8;
    }
    .modal-confirm .btn-danger {
        background: #f15e5e;
    }
    .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
        background: #ee3535;
    }
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
</style>
{% endblock stylesheets %}

{% block location %}
مکالمه  
{% endblock location %}

{% block content %}
<div class="container-fluid">
    
    <div class="pinax-messages-thread-detail-container">
        <h3 href="#myModal" class="with-actions">{{ thread.subject }}
        <a href="#myModal" class="trigger-btn" data-toggle="modal"><i class="far fa-trash-alt"></i> حذف مکالمه</a>
        </h3>
        <section class="thread-messages">
            {% for message in thread.messages.all %}
                <div class="thread-message">
                    <div class="message-byline">
                        <div class="message-from">{{ message.sender.username }}</div>
                        <div class="message-sent">{{ message.sent_at }}</div>
                    </div>
                    <div class="message-content">{{ message.content|urlize|linebreaks }}</div>
                </div>
            {% endfor %}
        </section>

        <form class="comment-form" action="{% url "pinax_messages:thread_detail" thread.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-actions">
                <a href="{% url "pinax_messages:inbox" %}" class="cancel">لغو</a>
                <button>ارسال</button>
            </div>
        </form>
    </div>

    <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                                <i class="far fa-trash-alt"></i>
                        </div>				
                        <h4 class="modal-title">اطمینان دارید؟</h4>	
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>از پاک کردن این مکالمه اطمینان دارید؟</p>
                        <p>{% url "pinax_messages:thread_delete" thread.pk as post_url %}</p>
                    </div>
                    <div class="modal-footer">
                        <form action="{{ post_url }}" method="POST" class="form form-horizontal">
                            {% csrf_token %}
                            <div class="form-actions">
                                <button type="button" class="btn btn-info" data-dismiss="modal">لغو</button>
                                <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>     
</div>
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}      
