{% load form_tags %}

{% if field.is_hidden %}
	{{ field }}
{% elif field|is_honeypot %}
	{% include "users/partials/honeypot.html" %}
{% else %}
	<div class="field-wrapper {{ field|input_class }} {{ field.css_classes }}{% if field|is_checkbox %} checkbox{% endif %}">
		{% if field.errors %}
			<ul class="errorlist">
				{{ field.errors|unordered_list }}
			</ul>
		{% endif %}
		{% if field|is_checkbox %}
			<div class="form-group">
				{{ field |addcss:"form-control"}}
			</div>
		{% endif %}
		{% if not field|is_checkbox %}
			<div class="form-group">
					{{ field|placeholder:field.label |addcss:"form-control"}}
			</div>
		{% endif %}
		{% if field.help_text %}
			<div class="form-group">
				<div class="help_text">{{ field.help_text|safe }}</div>
			</div>
		{% endif %}
	</div>
{% endif %}
