{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} غذا {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
غذا
{% endblock location %}

{% block content %}

<div class="container-fluid">
    
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>گروه غذایی</th>
                            <th> توضیح کوتاه</th>
                            <th>توضیح</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for food in object_list %}
                        <tr>
                            <td>{{ food.nutrient_description }}</td>
                            <td>{{ food.units }}</td>
                            <td>{{ food.nutrient_number }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
        <!--/row-->
    </div>
</div>
<!--/row-->
</div>
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %} 
