{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} لیست داروها  {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
لیست داروها 
{% endblock location %}

{% block content %}
<!-- Calculates user weight status according to bmi and show allerts   -->


<!--/.container-fluid-->
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> لیست داروها
                            </div>
                            <div class="card-block">
                                    <p>
                                        <a class="btn btn-outline-primary" href="{% url 'drug_create' %}" role="button">
                                            <span class="fas fa-plus"></span>
                                            دارو جدید
                                        </a>
                                    </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام</th>
                                            <th>ملح</th>
                                            <th>شکل دارویی</th>
                                            <th>مقدار دارو</th>
                                            <th>راه مصرف</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for drug in drugs %}
                                        <tr>
                                        
                                            <td>{{ drug.id }}</td>
                                            <td>{{ drug.name }}</td>
                                            <td>{{ drug.salt }}</td>
                                            <td>{{ drug.dosage_form }}</td>
                                            <td>{{ drug.strengh }}</td>
                                            <td>{{ drug.route_of_admin }}</td>

                                            
                                            
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                {% if is_paginated %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; قبل</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&laquo; قبل</span></li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo; بعد</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&raquo; بعد</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--/col-->

                
        </div>
        <!-- /.conainer-fluid -->
        {% endblock content %}            
        {% block javascripts %}
        
        {{ block.super }}
        {% endblock javascripts %} 
