{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} مواد غذایی {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
مواد غذایی
{% endblock location %}

{% block content %}
        <!--/.container-fluid-->
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> مواد غذایی
                            </div>
                            <div class="card-block">
                                    <p>
                                        <a class="btn btn-outline-primary" href="{% url 'food_create' %}" role="button">
                                            <span class="fas fa-plus"></span>
                                            افزودن جدید
                                        </a>
                                    </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام</th>
                                            <th>واحد اندازه گیری</th>
                                            <th>مقدار</th>
                                            <th>کالری</th>
                                            <th>جزئیات</th>
                                            <th>مشاهده</th>
                                            <th>ویرایش</th>
                                            <th>حذف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for food in foods %}
                                        <tr>
                                        
                                            <td>{{ food.id }}</td>
                                            <td>{{ food.name }}</td>
                                            <td>{{ food.unit}}</td>
                                            <td>{{ food.amount|floatformat }}</td>
                                            <td>{{ food.Calories|floatformat }}</td>
                                            <td>{{ food.details }}</td>
                                            <td><a href="{% url "food_show" food.id %}">مشاهده</a></td>
                                            <td><a href="{% url "food_update" food.id %}">ویرایش</a></td>
                                            <td><a href="{% url "food_delete" food.id %}">حذف</a></td>
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if is_paginated %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; قبل</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&laquo; قبل</span></li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo; بعد</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&raquo; بعد</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--/col-->

                
        </div>
        <!-- /.conainer-fluid -->
        {% endblock content %}            
        {% block javascripts %}
        
        {{ block.super }}
        {% endblock javascripts %} 
