{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %}  جزئیات {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
جزئیات
{% endblock location %}

{% block content %}

<div class="container-fluid">
        <div class="col-sm-6 col-md-4 offset-sm-4">
                <div class="card">
                    <div class="card-header">
                        جزئیات
                    </div>
                    <div class="card-block">
                            <p>نام: {{ object.name }}</p>
                            <p>مقدار: {{ object.amount }}</p>
                            <p>واحد اندازه گیری: {{ object.unit }}</p>
                            <p>کالری: {{ object.calories }}</p>
                            <p>توضیح: {{ object.details }}</p>
                    </div>
                </div>
        </div>                  
</div>
<!-- /.conainer-fluid -->
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %} 
