{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} تایید میکنید؟ {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
تایید میکنید؟
{% endblock location %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        
          <div class="col-md-4 center-block"> 
            <div class="card-block mx-auto">
              <form action="" method="post">{% csrf_token %}
                <div class="alert alert-danger alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>هشدار!</strong>
                    </br>
                     از حذف  "{{ object }}" مطمئنید؟
                  </div>
                <button type="submit" class="btn btn-danger ">تایید</button>
                
              </form>
            </div>
        </div>
    </div>
</div>
<!-- /.conainer-fluid -->
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %} 
