{% extends "sites/base_site.html" %}


{% block title %}
    {% if  object_list %} 
        ویرایش قد و  وزن 
    {% else %}
      افزودن قد و  وزن 
    {% endif %}
    
{% endblock title %}


{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}



{% block location %}
        افزودن هدف 
{% endblock location %}



{% block content %}

<div class="row">
    <div class="col-md-4 offset-sm-4">
        <div class="card">
            <div class="card-header">

               
                افزودن <strong>هدف</strong>

            </div>
            <div class="card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">{% csrf_token %}
                    {% if form.errors %}
                                    {% include "users/partials/errors.html" %}
                                {% endif %}
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="input-group m-b-1">
                                    {% include "users/partials/field.html" %}
                                </div>
                                {% endfor %}
                    
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                        افزودن
                </button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> بازنشانی</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}      