{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %}  جزئیات {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
جزئیات
{% endblock location %}

{% block content %}

<div class="container-fluid">
        <div class="col-sm-6 col-md-4 offset-sm-4">
                <div class="card">
                    <div class="card-header">
                        جزئیات
                    </div>
                    <div class="card-block">
                            <p>وزن: {{ object.weight }}</p>
                            <p>قد: {{ object.height }}</p>
                            <p>توضیح: {{ object.text }}</p>
                    </div>
                </div>
        </div>                  
</div>
<!-- /.conainer-fluid -->
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %} 
