{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} آنالیز وزن {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
آنالیز وزن
{% endblock location %}

{% block content %}
<!-- Calculates user weight status according to bmi and show allerts   -->

{% if bmi < 19 %}

<div class="alert alert-danger" role="alert">
        شما دارای کمبود وزن هستید
    </br>
    کالری مورد نیاز روزانه جهت اضافه کردن 0/5 کیلوگرم در هفته : {{ wibmr_half }}
</br>
    کالری مورد نیاز روزانه جهت اضافه کردن 1 کیلوگرم در هفته : {{ wibmr_one }}
        
</div>
{% elif bmi < 30 and bmi > 25 %}
<div class="alert alert-warning" role="alert">
        شما مقداری اضافه وزن دارید
    </br>
    کالری مورد نیاز روزانه جهت کم کردن 0/5 کیلوگرم در هفته : {{ wlbmr_half }}
</br>
    کالری مورد نیاز روزانه جهت کم کردن 1 کیلوگرم در هفته : {{ wlbmr_one }}
</div>
{% elif  bmi > 30 %}
<div class="alert alert-danger" role="alert">
        شما دارای اضافه وزن هستید این هشدار را جدی بگیرید
    </br>
    کالری مورد نیاز روزانه جهت کم کردن 0/5 کیلوگرم در هفته : {{ wlbmr_half }}
</br>
    کالری مورد نیاز روزانه جهت کم کردن 1 کیلوگرم در هفته : {{ wlbmr_one }}
</div>
{% elif bmi < 25 and bmi > 19 %}
<div class="alert alert-success" role="alert">
        شما در وضعیت مطلوبی قرار دارید
</div>
{% else %}
<div class="alert alert-success" role="alert">
       هرچه زودتر نسبت به تکمیل پروفایل و افزودن وزن اقدام کنید
</div>
{% endif %}

<div class="container-fluid">
    
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                
                <div class="card card-inverse card-primary">
                    <div class="card-block p-b-0">
                        <h4 align='center' class="m-b-0">وزن فعلی</h4>
                        <h3 align='center'>{{ lastest_weight|floatformat }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                
                    <div class="card card-inverse card-primary">
                        <div class="card-block p-b-0">
                            <h4 align='center' class="m-b-0">وزن مناسب شما</h4>
                            <h3 align='center'>{{ ibw }}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    
                    <div class="card card-inverse card-primary">
                        <div class="card-block p-b-0">
                            <h4 align='center' class="m-b-0">BMI</h4>
                            <h3 align='center'>{{ bmi|floatformat }}</h3>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 col-lg-3">
            
                <div class="card card-inverse card-primary">
                    <div class="card-block p-b-0">
                        <h4 align='center' class="m-b-0"> متابولیسم پایه</h4>
                        <h3 align='center'>{{ bmr }} </h3>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
</div>
<!--/row-->
</div>

<!--/.container-fluid-->
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> قد و وزن 
                            </div>
                            <div class="card-block">
                                    <p>
                                        <a class="btn btn-outline-primary" href="{% url 'weight_create' %}" role="button">
                                            <span class="fas fa-plus"></span>
                                            وزن جدید
                                        </a>
                                    </p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>تاریخ ایجاد</th>
                                            <th>وزن</th>
                                            <th>قد</th>
                                            <th>یادداشت</th>
                                            <th>مشاهده</th>
                                            <th>ویرایش</th>
                                            <th>حذف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for weight in weights %}
                                        <tr>
                                        
                                            <td>{{ weight.id }}</td>
                                            <td>{{ weight.date_created|jformat:"%d %B %Y"  }}</td>
                                            <td>{{ weight.weight|floatformat }}</td>
                                            <td>{{ weight.height|floatformat }}</td>
                                            <td>{{ weight.text }}</td>
                                            <td><a href="{% url "weight_show" weight.id %}">مشاهده</a></td>
                                            <td><a href="{% url "weight_update" weight.id %}">ویرایش</a></td>
                                            <td><a href="{% url "weight_delete" weight.id %}">حذف</a></td>
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% if is_paginated %}
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; قبل</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&laquo; قبل</span></li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo; بعد</a></li>
                                    {% else %}
                                    <li class="disabled"><span>&raquo; بعد</span></li>
                                    {% endif %}
                                </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--/col-->

                
        </div>
        <!-- /.conainer-fluid -->
        {% endblock content %}            
        {% block javascripts %}
        
        {{ block.super }}
        {% endblock javascripts %} 
