{% load static %}
<!doctype html>
<html lang="en">

<head>
	{% block head %}
        {% block meta %}
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
            <meta name="viewport" content="width=device-width" />
        {% endblock meta %}
			<title>Material Dashboard by Creative Tim</title>
			<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}" />
            <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-icon.png" %}" />
            <link rel="icon" type="image/png"  href="{% static "img/favicon.png" %}" />
        {% block stylesheets %}
            <!-- Bootstrap core CSS     -->
			<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
			<link rel="stylesheet" href="{% static "css/my-login.css" %}"/>
            
            <!--  Material Dashboard CSS    -->
            <link rel="stylesheet" href="{% static "css/material-dashboard.css" %}"/>
            <!--  CSS for Demo Purpose, don't include it in your project     -->
            
        
        {% endblock stylesheets %}   
            <!--     Fonts and icons     -->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons" rel='stylesheet'>
    {% endblock head %}    
        
</head>

<body>
    {% block body %}
    <div class="wrapper">
    {% if request.user.is_authenticated %}
        {% block sidebar %}
        <div class="sidebar" data-color="purple" data-image="{% static "img/sidebar-1.jpg" %}"/>
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="http://www.tanbama.ir" class="simple-text">
                    تنباما
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="dashboard.html">
                            <i class="material-icons"></i>
                            <p>داشبورد</p>
                        </a>
                    </li>
                    <li>
                        <a href="./user.html">
                            <i class="material-icons">person</i>
                            <p>پروفایل</p>
                        </a>
                    </li>
                    <li>
                        <a href="./table.html">
                            <i class="material-icons">content_paste</i>
                            <p>لیست جدولی</p>
                        </a>
                    </li>
                    <li>
                        <a href="./typography.html">
                            <i class="material-icons">library_books</i>
                            <p>Typography</p>
                        </a>
                    </li>
                    <li>
                        <a href="./icons.html">
                            <i class="material-icons">bubble_chart</i>
                            <p>ایکون ها</p>
                        </a>
                    </li>
                    <li>
                        <a href="./maps.html">
                            <i class="material-icons">location_on</i>
                            <p>نقشه</p>
                        </a>
                    </li>
                    <li>
                        <a href="./notifications.html">
                            <i class="material-icons text-gray">notifications</i>
                            <p>هشدارها</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="upgrade.html">
                            <i class="material-icons">unarchive</i>
                            <p>ارتقا به ویژه</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock sidebar %}
        

        {% block top_navigation %}
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Material Dashboard </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Mike John responded to your email</a>
                                    </li>
                                    <li>
                                        <a href="#">You have 5 new tasks</a>
                                    </li>
                                    <li>
                                        <a href="#">You're now friend with Andrew</a>
                                    </li>
                                    <li>
                                        <a href="#">Another Notification</a>
                                    </li>
                                    <li>
                                        <a href="#">Another One</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            {% endblock top_navigation %}
            {% endif %}
            {% block content %}
            
            {% endblock content %}
            <footer class="footer">
            {% block footer %}
        
            {% endblock footer %}
        </footer>
        </div>
    </div>
    {% endblock body %}
</body>
<!--   Core JS Files   -->
{% block javascripts %}
<script src="{% static "js/jquery-3.2.1.min.js" type="text/javascript" %}" /></script>
<script src="{% static "js/bootstrap.min.js" type="text/javascript" %}" /></script>
<script src="{% static "js/material.min.js" type="text/javascript" %}" /></script>
<!--  Charts Plugin -->
<script src="{% static "js/chartist.min.js" %}" /></script>
<!--  Dynamic Elements plugin -->
<script src="{% static "js/arrive.min.js" %}" /></script>
<!--  PerfectScrollbar Library -->
<script src="{% static "js/perfect-scrollbar.jquery.min.js" %}" /></script>
<!--  Notifications Plugin    -->
<script src="{% static "js/bootstrap-notify.js" %}" /></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Material Dashboard javascript methods -->
<script src="{% static "js/material-dashboard.js" %}" /></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static "js/demo.js" %}" /></script>

<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in static/js/demos.js
        demo.initDashboardPageCharts();

    });
</script>
{% endblock javascripts %}

</html>