{% load avatar_tags %}
{% load static %}
{% load i18n %}
{% load pinax_messages_tags %}




<!--
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.0-alpha.2
 * @link http://coreui.io
 * Copyright (c) 2016 creativeLabs Łukasz Holeczek
 * @license MIT
 -->
<!DOCTYPE html>
<html lang="IR-fa" dir="rtl">

<head>
    {% block head %}
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="تنباما">
            <meta name="keyword" content="تنباما">
            <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
            
        {% endblock meta %}
            <title>
                {% block title %}
                {% endblock title %}
            </title>
            <!-- Icons -->
            <link href="{% static "css/font-awesome.min.css" %}"  rel="stylesheet">
            <link href="{% static "css/simple-line-icons.css" %}"  rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            {{ form.media.css }}
        {% block stylesheets %}
            <!-- Main styles for this application -->
            <link href="{% static "dest/style.css" %}"  rel="stylesheet">
        {% endblock stylesheets %}  
    {% endblock head %}
</head>
<!-- BODY options, add following classes to body to change options
		1. 'compact-nav'     	  - Switch sidebar to minified version (width 50px)
		2. 'sidebar-nav'		  - Navigation on the left
			2.1. 'sidebar-off-canvas'	- Off-Canvas
				2.1.1 'sidebar-off-canvas-push'	- Off-Canvas which move content
				2.1.2 'sidebar-off-canvas-with-shadow'	- Add shadow to body elements
		3. 'fixed-nav'			  - Fixed navigation
		4. 'navbar-fixed'		  - Fixed navbar
	-->
{% block body %}
<body class="navbar-fixed sidebar-nav fixed-nav">
    {% block top_navigation %}
    {% endblock top_navigation %}
    <header class="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">&#9776;</button>
            <a class="navbar-brand" href="#"></a>
            <ul class="nav navbar-nav hidden-md-down">
                <li class="nav-item">
                    <a class="nav-link navbar-toggler layout-toggler" href="#">&#9776;</a>
                </li>

                <!--<li class="nav-item p-x-1">
                    <a class="nav-link" href="#">داشبورد</a>
                </li>
                <li class="nav-item p-x-1">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item p-x-1">
                    <a class="nav-link" href="#">Settings</a>
                </li>-->
            </ul>
            <ul class="nav navbar-nav pull-left hidden-md-down">
                <li class="nav-item">
                    <a class="nav-link aside-toggle" href="#"><i class="icon-bell"></i><span class="tag tag-pill tag-danger">

                        {% with user|unread_thread_count as user_unread %}
                            {{ user_unread }}
                        {% endwith %}

                    </span></a>
                </li>                
                <li class="nav-item dropdown">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            {% avatar user 50 class="img-circle img-responsive" id="user_avatar" %}
                            <span class="hidden-md-down">{{user.get_full_name}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-header text-xs-center">
                                <strong>تنظیمات</strong>
                            </div>
                            <a class="dropdown-item" href="/profile/{{user.id}}/"><i class="fa fa-user"></i> پروفایل</a>
                            <a class="dropdown-item" href="/profile/edit/{{user.id}}/"><i class="fa fa-wrench"></i> تنظیمات</a>
                            <!--<a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="tag tag-default">42</span></a>-->
                            <div class="divider"></div>
                            <a class="dropdown-item" href="/accounts/logout/"><i class="fa fa-lock"></i> خروج</a>
                        </div>
                    </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-toggler aside-toggle" href="#">&#9776;</a>
                </li>

            </ul>
        </div>
    </header>
    {% block sidebar %}
        {% include "sites/sidebar.html" %}
    {% endblock sidebar %}
    </div>
    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">خانه</li>
            <li class="breadcrumb-item active">
                {% block location %}
                {% endblock location %}
            </li>

            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-secondary" href="/"><i class="icon-graph"></i> &nbsp;داشبورد</a>
                    <a class="btn btn-secondary" href="/profile/edit/{{user.id}}/"><i class="icon-settings"></i> &nbsp;تنظیمات</a>
                </div>
            </li>
        </ol>
    {% block content %} 
        <!--/.container-fluid-->
    </main>
    {% endblock content %}
    

    <aside class="aside-menu">

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="timeline" role="tabpanel">
                <div class="tab-pane p-a-1" id="messages" role="tabpanel">
                        <div class="message">
                        {% for thread in unread_threads %}
                        <div class="thread {% if thread|unread:user %}unread{% endif %}">
                            <a href="{{thread.get_absolute_url}}">
                                
                                <div class="participants">
        
                                        
                                        {% avatar thread.latest_message.sender  25 class="img-circle img-responsive" id="user_avatar" %}
                                        </div>
                                    <div class="latest-message">
                                        <p class="subject">{{ thread.subject }}</p>
                                    </div>
                                    <hr>
                                </div>
                                
                            </a>
                        </div>
                            {% empty %}
                                <div class="no-messages">شما پیامی ندارید.</div>
                        </div>
                        <hr>
                        {% endfor %}
                        
                </div>
        </div>

        </div>        
    </aside>
    {% block footer %}
    <footer class="footer">
        <span class="text-left">
            <a href="http://www.tanbama.ir">تنباما</a>
        </span>
        <span class="pull-right">     
                با افتخار <i class="fa fa-heart heart"></i> GPL3 . 
        </span>
    </footer>
    {% endblock footer %}

    {% block javascripts %}
    <!-- Bootstrap and necessary qplugins -->
    <script src="{% static "js/libs/jquery.min.js" %}"  ></script>
    <script src="{% static "js/libs/tether.min.js" %}"  ></script>
    <script src="{% static "js/libs/bootstrap.min.js" %}"  ></script>
    <script src="{% static "js/libs/pace.min.js" %}"  ></script>

    <!-- Plugins and scripts required by all views -->
    <script src="{% static "js/libs/Chart.min.js" %}"  ></script>

    <!-- CoreUI main scripts -->

    <script src="{% static "js/app.js" %}"  ></script>

    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->
    <script src="{% static "js/views/main.js" %}"  ></script>

    <!-- Grunt watch plugin -->
    <script src="//localhost:8009/livereload.js"></script>
    {{ form.media.js }}
    {% endblock javascripts %}

{% endblock body %}
</body>
</html>
