{% extends "sites/base_site.html" %}

{% block title %} dash {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
کارت ها
{% endblock location %}


{% block content %}

<div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Card title
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                        <div class="card-footer">Card footer</div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-default">
                        <div class="card-header">
                            Card collapse</small>
                            <div class="card-actions">
                                <a class="btn-minimize collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="icon-arrow-down"></i></a>
                                <a class="btn-close" href="#"><i class="icon-close"></i></a>
                            </div>
                        </div>
                        <div class="card-block collapse" id="collapseExample">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-check"></i>Card with icon
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Card with switch
                            <label class="switch switch-sm switch-text switch-info pull-right m-b-0">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Card with label
                            <span class="tag tag-success pull-right">Success</span>
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Card with label
                            <span class="tag tag-pill tag-danger pull-right">42</span>
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

            </div>
            <!--/row-->

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-primary text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in
                                    <cite title="Source Title">Source Title</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-success text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in
                                    <cite title="Source Title">Source Title</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-info text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in
                                    <cite title="Source Title">Source Title</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-warning text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in
                                    <cite title="Source Title">Source Title</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-danger text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in
                                    <cite title="Source Title">Source Title</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-primary text-xs-center">
                        <div class="card-block">
                            <blockquote class="card-blockquote">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in
                                    <cite title="Source Title">Source Title</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!--/col-->

            </div>
            <!--/row-->

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-primary">
                        <div class="card-header">
                            Card title
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-success">
                        <div class="card-header">
                            Card title
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-info">
                        <div class="card-header">
                            Card title
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-warning">
                        <div class="card-header">
                            Card title
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

                <div class="col-sm-6 col-md-4">
                    <div class="card card-inverse card-danger">
                        <div class="card-header">
                            Card title
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                            ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!--/col-->

            </div>
            <!--/row-->
        </div>
    </div>
    <!-- /.conainer-fluid -->
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %} 