<script src="https://code.highcharts.com/highcharts.src.js"></script>
<div id="container" style="height: 400px">

<script>
    var categories = [
    {% for entry in dataset %}'{{ entry.date_created|date:'Y-m-d' }}'{% if not forloop.last %}, {% endif %}{% endfor %}
          ]

  Highcharts.chart('container', {
      chart: {
          type: 'line'
      },
      dateRangeGrouping: true,
      
      title: {
          text: 'آخرین تغییرات وزن شما'
      },
      xAxis: {
          categories: categories
                   
      },
      yAxis: {
            title: {
            text: 'کیلوگرم (kg)'
            }
        },
      plotOptions: {
            line: {
            dataLabels: {
                enabled: true     
            },
            // enableMouseTracking: false
            }
        },
      series: [{
          name: 'وزن',
          data: [
            {% for entry in dataset %}{{ entry.weight }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      }, 
          ]
  });
</script>


