{% extends "sites/base_site.html" %}

{% block title %} داشبورد {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/notryanb/highcharts_date_range_grouping/config-date-formats/dist/highcharts_date_range_grouping.css"> 
  {% endblock stylesheets %}


{% block location %}
داشبورد
{% endblock location %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-lg-6 offset-sm-3">
            <div class="animated fadeIn">
            
                {% if request.user.is_patient %}
                <div class="card">
                        <div class="card-header">
                            تغییرات وزن
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                    {% include "sites/chart.html" %}
                            </div>
                            
                        </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <!--/.container-fluid-->
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}