{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} دارو های من {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
دارو های من
{% endblock location %}

{% block content %}
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> دارو ها
                            </div>
                            <div class="card-block">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>{{ lastrx.drugs }}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    <!--/col-->

                
</div>
<!-- /.conainer-fluid -->
{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %} 
