<!--
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.0-alpha.2
 * @link http://coreui.io
 * Copyright (c) 2016 creativeLabs Łukasz Holeczek
 * @license MIT
 -->
<!DOCTYPE html>
<html lang="IR-fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="تنباما">
    <meta name="author" content="Lukasz Holeczek">
    <meta name="keyword" content="تنباما">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    
    {% block title %}
     Tanbama 
    {% endblock title %}
    <!-- Icons -->
    <link href="{% static "css/font-awesome.min.css" %}"  rel="stylesheet">
    <link href="{% static "css/simple-line-icons.css" %}"  rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="{% static "dest/style.css" %}"  rel="stylesheet">
    <link href="{% static "css/coming-sssoon.css" %}" rel="stylesheet" />
</head>
<!-- BODY options, add following classes to body to change options
		1. 'compact-nav'     	  - Switch sidebar to minified version (width 50px)
		2. 'sidebar-nav'		  - Navigation on the left
			2.1. 'sidebar-off-canvas'	- Off-Canvas
				2.1.1 'sidebar-off-canvas-push'	- Off-Canvas which move content
				2.1.2 'sidebar-off-canvas-with-shadow'	- Add shadow to body elements
		3. 'fixed-nav'			  - Fixed navigation
		4. 'navbar-fixed'		  - Fixed navbar
	-->

<body class="navbar-fixed fixed-nav">
    <header class="navbar">
        <div class="container container-nav">
            <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">&#9776;</button>
            <a class="navbar-brand" href="#"></a>
            
            <div class="form-inline nav navbar-nav pull-xs-right">
                <button onclick="location.href = 'accounts/register/';" id="register" class="btn btn-outline-success" >ثبت نام</button>
                <button onclick="location.href = 'accounts/login/';" id="login" class="btn btn-outline-primary" >ورود</button>
            </div>

        </div>
    </header>
    
    <!-- Main content -->
    <div class="main" style="background-image: url('../static/img/d2.jpg')">

        <!--    Change the image source '/images/default.jpg' with your favourite image.     -->
            
            <div class="cover black" data-color="black"></div>
             
        <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->
        
            <div class="container">
                <h1 class="logo cursive">
                    تنباما
                </h1>
        <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
                
                <div class="content">
                    <h4 class="motto">خیلی زود با اپلیکیشن اندروید و ios بر‌میگردیم .</h4>           
                
                </div>
                <div class="footer">
                <div class="container" align="center">
                        با افتخار <i class="fa fa-heart heart"></i> GPL3 . 
                </div>
                </div>
            </div>
    </div>

         
<script src="{% static "js/bootstrap.min.js" type="text/javascript" %}"  ></script>
<script src="{% static "js/land.js" type="text/javascript" %}"  ></script>

<!-- Bootstrap and necessary plugins -->
<script src="{% static "js/libs/jquery.min.js" %}"  ></script>
<script src="{% static "js/libs/tether.min.js" %}"  ></script>
<script src="{% static "js/libs/bootstrap.min.js" %}"  ></script>
<script src="{% static "js/libs/pace.min.js" %}"  ></script>

<!-- Plugins and scripts required by all views -->
<script src="{% static "js/libs/Chart.min.js" %}"  ></script>

<!-- CoreUI main scripts -->

<script src="{% static "js/app.js" %}"  ></script>

<!-- Plugins and scripts required by this views -->
<!-- Custom scripts required by this view -->
<script src="{% static "js/views/main.js" %}"  ></script>

<!-- Grunt watch plugin -->
<!-- <script src="//localhost:35729/livereload.js" %}"  ></script> -->

</body>

</html>