{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} هدف {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
هدف
{% endblock location %}

{% block content %}
<!-- Calculates user weight status according to bmi and show allerts   -->


<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                
                <div class="card card-inverse card-primary">
                    <div class="card-block p-b-0">
                        <h4 align='center' class="m-b-0">وزن فعلی</h4>
                        <h3 align='center'>{{ lastest_weight|floatformat }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                
                    <div class="card card-inverse card-primary">
                        <div class="card-block p-b-0">
                            <h4 align='center' class="m-b-0">وزن مناسب شما</h4>
                            <h3 align='center'>{{ ibw|floatformat }}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    
                    <div class="card card-inverse card-primary">
                        <div class="card-block p-b-0">
                            <h4 align='center' class="m-b-0">وزن هدف</h4>
                            <h3 align='center'>{{ gbw|floatformat }}</h3>
                        </div>
                    </div>
                </div>
            <div class="col-sm-6 col-lg-3">

             {% if diff > 0 %}
                <div class="card card-inverse card-danger">
                    <div class="card-block p-b-0">
                        <h4 align='center' class="m-b-0"> اضافه وزن</h4>
            {% elif diff < 0 %}
                <div class="card card-inverse card-warning">
                    <div class="card-block p-b-0">
                        <h4 align='center' class="m-b-0"> کمبود وزن</h4>
            
                            <h3 align='center'>{{ diff|floatformat|slice:"1:" }} </h3> 
            {% elif diff == 0 %}
                <div class="card card-inverse card-success">
                    <div class="card-block p-b-0">
                        <h4 align='center' class="m-b-0">  تبریک!</h4>
                        <h3 align='center'>به هدف رسیدید </h3>      
            {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
</div>
<!--/.container-fluid-->
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> هدف شما 
                    </div>
                    <div class="card-block">
                            <p>
                                <a class="btn btn-outline-primary" href="{% url 'gbw_create' %}" role="button">
                                    <span class="fas fa-plus"></span>
                                      هدف جدید
                                </a>
                            </p>

                            <h4>
                                {% if diff and diff == 0 %}
                                تبریک شما به هدف خود رسیده اید!
                                {% elif diff %}
                                    شما 
                                    {% if diff < 0 %}
                                    {{  diff|floatformat|slice:"1:" }}
                                   {% elif diff < 0 %} 
                                    {{  diff|floatformat }}
                                    {% endif %}
                                     کیلوگرم
                                
                                {% if diff > 0 %}
                                    اضافه وزن دارید
                                {% elif diff < 0 %}
                                کمبود وزن دارید
                                {% endif %}
                                برای رسیدن به وزن هدف میبایست
                                {% if diff < 0 %}
                                 {{  diff|floatformat|slice:"1:" }}
                                {% elif diff < 0 %} 
                                 {{  diff|floatformat }}
                                 {% endif %}
                                 هفته مطابق برنامه پیشنهادی تغذیه کنید.
                            </h4>
                            {% endif %}
                            <h4>
                                {% if diff and diff == 0 %}
                                رویه خود را حفظ نموده و توصیه ها را برای حفظ تناسب اندام خود دنبال کنید.
                                {% elif diff %}
                                پیشنهاد ما این است که هر روز به میزان
                                {% if diff < 0 %}
                                 {{ wibmr_one }} 
                                {% elif diff > 0 %}
                                  {{ wlbmr_one }}
                                {% endif %}
                                 کالری مصرف نمایید تا طی
                                 {% if diff < 0 %}
                                 {{  diff|floatformat|slice:"1:" }}
                                {% elif diff < 0 %} 
                                 {{  diff|floatformat }}
                                 {% endif %}
                                   هفته به هدف خود برسید
                            </br>
                                برای پیشنهاد برنامه غذایی مناسب هدفتان به بخش برنامه غذایی مراجعه کنید
                            </h4>
                            {% endif %}

                        
                    </div>
                </div>
            </div>
            <!--/col-->

        
</div>
<!-- /.conainer-fluid -->
<!--/row-->
</div>
        {% endblock content %}            
        {% block javascripts %}
        
        {{ block.super }}
        {% endblock javascripts %} 
