{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>سامانه مراقبت جمعی سلامت</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="{% static "css/bootstrap-rtl.css" %}"  rel="stylesheet">
    <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static "css/coming-sssoon.css" %}"  rel="stylesheet">

  </head>
    <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <div class="container">
        <a class="navbar-brand" href="#">تنباما</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">صفحه اصلی
                <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">درباره</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">تماس با ما</a>
            </li>
            </ul>

            <div class="form-inline nav navbar-nav pull-xs-right">
                    <button onclick="location.href = 'accounts/register/';" id="register" class="btn btn-outline-success" >ثبت نام</button>
                    <button onclick="location.href = 'accounts/login/';" id="login" class="btn btn-outline-primary" >ورود</button>
            </div>
        </div>

        </div>
    </nav>

    <!-- Page Content -->
<div class="main" style="background-image: url('../static/img/d3.jpg')">
    <section>
        <div class="main">

            <!--    Change the image source '/images/default.jpg' with your favourite image.     -->
                
                <div class="cover black" data-color="black"></div>
       
                    <div class="container">
                            <h1 class="logo">
                                تنباما
                            </h1>
                    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
                            
                            <div class="content">
                                <h4 class="motto"> سامانه مراقبت جمعی سلامت</h4>           
                            </div>
                    </div>
        
    </section>
</div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static "js/libs/jquery.min.js" %}"  ></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"  ></script>
        
</body>


</html>