{% extends "sites/base_site.html" %}
{% load pinax_messages_tags %}
{% load avatar_tags %}
{% load static %}
{% block title %} پروفایل {% endblock title %}
{% load static %}
{% block stylesheets %}
  {{ block.super }}
  <link href="{% static "css/profile.css" %}"  rel="stylesheet">
{% endblock stylesheets %}

{% block location %}
 پروفایل
{% endblock location %}


{% block content %}

<div class="row">
    <div class="a">
        {% if object == request.user and request.user.is_authenticated %}
            <h1>{{ user.first_name }} اینجا صفحه پروفایل شماست!</h1>
        {% endif %}
      
        <div class="profile-header-container">

        <div class="card" style="width:400px">
                <div class="card-img-top" style="width:100%">
                        {% avatar user 128 class="img-circle img-responsive" id="user_avatar"%} </br>
                        {% if object == request.user and request.user.is_authenticated %}
                            <a href="{% url 'avatar_change' %}">نمایه خود را تغییر دهید</a>
                        {% endif %}
                        <!-- badge -->
                    </div>
                <div class="card-body">
                    <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
                    <p class="card-text"> جنسیت {{ user.get_gender_display }} </br>
                        تاریخ تولد {{ user.birthday | date:" d-m-Y" }}</p>
                    {% if object == request.user and request.user.is_authenticated %}
                    <a href="/profile/edit/{{user.id}}/" class="btn btn-primary">ویرایش پروفایل</a>
                    {% endif %}
                    <a href="{% url "pinax_messages:message_user_create" user.id %}" class="btn btn-default"> پیام به کاربر</a>
        </div>
    </div>
</div>

{% endblock content %}            
{% block javascripts %}
{{ block.super }}
{% endblock javascripts %} 