{% extends "sites/base_site.html" %}
{% load static %}
{% load jformat %}
{% block title %} نسخه های من {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block location %}
نسخه های من
{% endblock location %}

{% block content %}
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> نسخه ها
                            </div>
                            <div class="card-block">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>تاریخ ایجاد</th>
                                            <th>دارو ها</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rx in rxs %}
                                        <tr>
                                        
                                            <td>{{ rx.id }}</td>
                                            <td>{{ rx.date_created|jformat:"%A %d %B %Y %H:%M"  }}</td>
                                            <td>{{ rx.drugs }}</td>
                                        
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">4</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/col-->

                
        </div>
        <!-- /.conainer-fluid -->
        {% endblock content %}            
        {% block javascripts %}
        {{ block.super }}
        {% endblock javascripts %} 
