<div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/"><i class="icon-speedometer"></i> داشبورد </a>
                </li>
                {% if request.user.is_doctor %}

                    <li class="nav-title">
                       بیماران
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/list"><i class="fas fa-user"></i> لیست بیماران</a>
                        <a class="nav-link" href="/users/create"><i class="fas fa-plus"></i> افزودن بیمار</a>
                    </li>
                    <li class="nav-title">
                        نسخه ها
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rx/"><i class="fas fa-utensils"></i> لیست نسخه ها</a>
                        <a class="nav-link" href="/rx/create"><i class="fas fa-plus"></i> افزودن نسخه </a>
                    </li>
                    <li class="nav-title">
                        دارو ها
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/drug/"><i class="fas fa-pills"></i> لیست دارو ها</a>
                        <a class="nav-link" href="/drug/create"><i class="fas fa-plus"></i> افزودن دارو </a>
                    </li>
                    <li class="nav-title">
                        برنامه غذایی 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/program/"><i class="icon-docs"></i> لیست برنامه ها</a>
                        <a class="nav-link" href="/program/create"><i class="fas fa-plus"></i> افزودن برنامه </a>
                    </li>

                {% elif request.user.is_patient %}

                    <li class="nav-title">
                        تناسب اندام
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weight/list"><i class="fas fa-weight"></i> آنالیز وزن</a>
                        <a class="nav-link" href="/weight/create"><i class="fas fa-plus"></i> افزودن قد و وزن</a>
                        <a class="nav-link" href="/goal/"><i class="fas fa-plus"></i> هدف <span class="tag tag-info">بزودی</span></a>
                    </li>

                    <li class="nav-title">
                    تغذیه
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-docs"></i> برنامه غذایی من <span class="tag tag-info">بزودی</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/food/"><i class="fas fa-utensils"></i> لیست مواد غذایی</a>
                        <a class="nav-link" href="/food/create"><i class="fas fa-plus"></i> افزودن مواد غذایی </a>
                    </li>

                    <li class="nav-title">
                            مراقبت پزشکی
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/rx/"><i class="fas fa-utensils"></i> نسخه های من</a>
                            <a class="nav-link" href="#"><i class="fas fa-dumbbell"></i> برنامه ورزشی<span class="tag tag-info">بزودی</span> </a>
                        </li>

                    <li class="nav-title">
                     اطلاع رسانی
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/messages/inbox/"><i class="fas fa-envelope"></i> پیام ها</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-clock"></i> یاداورها <span class="tag tag-info">بزودی</span></a>
                    </li>


                    <!--<li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> ثبت کاربر جدید</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="components-buttons.html"><i class="icon-puzzle"></i> لیست کاربران</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-social-buttons.html"><i class="icon-puzzle"></i> Social Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-cards.html"><i class="icon-puzzle"></i> Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-forms.html"><i class="icon-puzzle"></i> Forms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-switches.html"><i class="icon-puzzle"></i> Switches</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="components-tables.html"><i class="icon-puzzle"></i> Tables</a>
                            </li>
                        </ul>
                    </li>-->

                    <!--<li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Icons</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="icons-font-awesome.html"><i class="icon-star"></i> Font Awesome</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="icons-simple-line-icons.html"><i class="icon-star"></i> Simple Line Icons</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="widgets.html"><i class="icon-calculator"></i> Widgets <span class="tag tag-info">NEW</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Charts</a>
                    </li>-->
                    <!--<li class="divider"></li>
                    <li class="nav-title">
                        Extras
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="pages-login.html" target="_top"><i class="icon-star"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-register.html" target="_top"><i class="icon-star"></i> Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-404.html" target="_top"><i class="icon-star"></i> Error 404</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages-500.html" target="_top"><i class="icon-star"></i> Error 500</a>
                            </li>
                        </ul>
                    </li>-->

            </ul>
        </nav>
    </div>
    {% endif %}